$green: #224634;

h1 {
	color: $green;
}

html {
	font-family: 'Crimson Text', serif;
	font-size: 1.25em;
}

.container {
	padding: 1%;
}

a {
  text-decoration: none;
  color: $green;

  transition: 0.5s;


}

a:hover {
  box-shadow: 0 2px 0 0 $green;
}


